# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
build
.vercel
.output

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
